*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background: linear-gradient(to right, rgb(88, 15, 15), white);
}

.header-text {
    display: block;
    color: rgb(88, 15, 15);
    justify-items: center;
    margin: 30px 30px;
    font-size: 40px;

}

#header {
    text-align: center;
}

.input-bar input {
    font-size: 30px;
    border-radius: 10%;
    border-width: 10px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.input-bar button {
    font-size: 30px;
    border-radius: 10%;
    border-width: 10px;
}

.input-bar{
    display: flex;
    margin: 0 auto;
    width: 400px;
    gap: 10px;
}